*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
.CardOuterPage{
    width: 100%;
    height: 100%;
     /* background-color: black;  */
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;

}

